#header {
    background-color: rgb(213, 186, 238);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

#container-logo {
    display: block;
    width: 750px;
}

#header-img {
    display: flex;
    width: 91px;
    height: 47px;
    object-position: 50% 40%;
    object-fit: cover;
}

#nav-bar {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: black;
}

#container-video {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    flex-direction: column;
}

#titulo-container-video {
    display: flex;
    text-align: center;
}

#container1 {
    display: flex;
    width: 100%;
    justify-content: center;
}

#video-1 {
    display: block;
    height: 400px;
    width: 500;
}

#container-titulo {
    text-align: center;
    margin-top: 200px;
}

#container-catalogo {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

@media (max-width: 850px) {
    #container-catalogo {
        flex-wrap: wrap;
    }
}

#container-articulo {
    width: 326px;
    height: 300px;
    border: solid 1px black;
    text-align: center;
}

#titulo-articulo {
    text-align: center;
    justify-content: center;
}

#img-articulo {
    text-align: center;
    justify-content: center;
    color: brown;
    width: 100%;
    height: 200px;
}

#inf-articulo {
    text-align: center;
    justify-content: center;
    text-decoration: overline;
    color: black;
}

#container-info {
    text-align: center;
    margin-top: 200px;
}

.descripcion-titulo-info {
    margin-top: 20px;
    max-width: 900px;
    text-align: center;
    margin: auto;
    height: 350px;
    text-align: justify;
    font-size: 20px;
}

#form {
    justify-content: center;
    text-align: center;
}

.form-group {
    justify-content: center;
    text-align: center;
}

.form-control {
    width: 600px;
    height: 30px;
}

#submit {
    text-align: center;
    margin: auto;
    justify-content: center;
    width: 200px;
    font-size: 16px;
    margin-top: 30px;
    height: 30px;
    background-color: blueviolet;
    border-radius: 10px;
}

footer {
    margin-top: 50px;
    background: 50px black;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 15px;
}